{% extends 'baseFront.html.twig' %}

{% block title %}Appointement List{% endblock %}

{% block body %}

{% block schedule %}
     <!-- SCHEDULE -->
     <section class="schedule section"  id="schedule">
     <h1 style="text-align:center;color:white; margin-bottom:60px;">Appointement List</h1>
     <a style="margin-left:1300px; font-size:20px;border-radius:20px; padding:5px; color:black; background-color:#FAC031;" href="{{ path('app_consultation_new') }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg> Create new</a>
     {% for consultation in consultations %}
<div class="business2" style="display: flex; flex-wrap: wrap;  align-items: center;  min-height: fit-content;  justify-content: center;  background-color: #131417;">

        <div class="front" style=" background-color: #393939;  padding: 10px; width: 300px;  height: 480px;  margin: 20px;  border-radius: 25px;  overflow: hidden;position: relative;">
            <div class="red" style=" height: 25%; border-radius:25px 25px 0px 0px; background-color: #FAC031;">
            <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}">
            <svg style=" margin-left:250px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> 
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> </svg>
            </a>
             <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">
            <svg style=" margin-left:220px; margin-top:-45px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16"> 
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/> </svg>
            </a>
            </div>
            <div class="avatar" style="position: absolute;width: 25%;left: 50%;top: 70px;transform: translate(-50%);text-align: center;">
                <div class="img" style="background-color: transparent; padding: 10px;box-sizing: border-box;  height: 10%;  display: flex;  align-items: center;justify-content: center;">

                    <img style=" width: 80px;border: 6px solid var(--dark);border-radius: 50%;" 
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWAtHoELvaLBLMP5LY7TPiJccmSn6wobA1tXcPl6uasVMbx6-sEW6UUDH4LSEli1Nk-Sk&usqp=CAU"  alt="">
                </div>
                <p style="margin: 0; text-transform: uppercase;font-weight: 900;color: #eee; ">{{ consultation.nom }}</p>
                <p style=" margin: 0;color: #eee;">{{ consultation.dateConsultation ? consultation.dateConsultation|date('Y-m-d') : '' }}</p>
            </div>
            <div class="infos" style="position: absolute;bottom: 20%;left: 5%;">
                <div>
                <svg style="width: 30px;height: 30px; margin-right: 10px;  background-color:#FAC031;  padding: 8px;  border-radius: 7px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"> 
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/> 
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/> </svg>  
                </div>
                <div >
                        <p style="font-size: 0.8rem; margin-left: 45px ; margin-right: 15px ;margin-top:-30px; font-weight: 500; color: #eee;">
                        {{ consultation.heureConsultation ? consultation.heureConsultation|date('H:i') : '' }}</p>
                    </div>
                <div>
                <svg style="width: 30px;  height: 30px;  margin-right: 10px;  background-color: #FAC031;  padding: 8px;  border-radius: 7px;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z" fill="currentColor" /> 
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z" fill="currentColor" /> </svg>
                    <div>
                        <p style="font-size: 0.8rem; margin-left: 45px ; margin-right: 15px ;margin-top:-30px; font-weight: 500;color: #eee;">
                        {{ consultation.typeConsultation }}</p>
                </div>
                <div>
                <svg style="width: 30px;  height: 30px;  margin-right: 10px;  background-color: #FAC031;  padding: 8px;  border-radius: 7px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                 <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/> </svg>
                    <div>
                        <p style="font-size: 0.8rem;  margin-left: 45px ; margin-right: 15px ;margin-top:-30px;  font-weight: 500;color: #eee;">
                        {{ consultation.utilisateur }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
      {% endfor %}
     </section>
{% endblock %}
{% endblock %}
